<h1>ようこそ！</h1>

<p>あなたは"<strong><%= current_user.email %></strong>"でログインしました</p>
<%= link_to "ログアウト", logout_path, method: :delete %>
<%= link_to "プロフィール編集", edit_user_path(current_user) %>
<%= link_to "potepan shareへ", greenhouses_path %>
<%= link_to "ルーム予約へ", reservers_path %>