<%= form_with(model: greenhouse) do |form| %>
  <div class="field">
    <%= form.label :ルーム名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :紹介 %>
    <%= form.text_area :introduction %>
  </div>

  <div class="field">
    <%= form.label :料金 %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :イメージ %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
